/client/node_modules/*
/server/.env/*
/server/env/*
client/.idea/
client/package-lock.json
client/webpack-stats.json
front/.idea/
front/package-lock.json
package-lock.json
client/package.json
*.pyc
*.pyx
*.pyd
*.so
*.c
client-static/.idea/
client-static/node_modules/
.idea
testing.py
testing
.idea
.vscode
*.sqlite3
builds
build
*.pid
venv
env
logger.log