#message {
    display:none;
    background: #c5cdcd;
    color: #000;
    position: relative;
    padding: 20px;
    margin-top: 10px;
  }
  
  #message p {
    padding: 10px 35px;
    font-size: 18px;
  }
  
  /* Add a green text color and a checkmark when the requirements are right */
  .valid {
    color: green;
  }
  
  .valid:before {
    position: relative;
    left: -35px;
    content: "✔";
  }
  
  /* Add a red text color and an "x" when the requirements are wrong */
  .invalid {
    color: red;
  }
  
  .invalid:before {
    position: relative;
    left: -35px;
    content: "✖";
  }

.navtag {
  position: relative;
  overflow: hidden;
  scroll-behavior: smooth;
}
  .navtagul {
    display: flex;
    overflow: auto;
    list-style: none;
    text-align: center;
    white-space: nowrap;
    background-color: rgba(rgb(124, 116, 116), green, blue, alpha);
  }
  
  .navtaga {
    display: block;
    padding: .5rem .75rem;
    overflow: hidden;
    background-color: rgba(rgb(119, 136, 127), green, blue, alpha);
  }
  .example::-webkit-scrollbar {
    display: none;
  }

  .fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
  
  svg {
    width: 70px;
    height: 70px;
  }
  svg:hover {
    fill: rgb(58, 128, 194);
  }

  