{% extends "base.html" %} {% block title %}Questions{% endblock %} {% block content%}
    <h1 align="center" class ="font-weight-bolder">All Questions</h1>
    <div id="posts">
      {% for question in questions %}
        <div class="card border-dark">
            <div class="card-header d-flex justify-content-between align-items-center">
                <a class="nav-item nav-link active" href="user/{{question.user.id}}">{{question.user.fullname}}</a>
                <div>
                  <span>{{ question.likes|length }}</span> 
                    {% if current_user.id in question.likes|map(attribute="user_id")|list %}
                    <a href="{{ url_for('like', question_id=question.id)}}"><i class="fas fa-thumbs-up"></i></a>
                    {% else %}                    
                    <a href="{{ url_for('like', question_id=question.id)}}"><i class="far fa-thumbs-up"></i></a>
                  {%endif%}
                </div>
            </div>
            <div class="card-body">
                <div class="card-text"><a class="navbar-brand" href="{{ url_for('question_detail', question_id=question.id)}}">{{question.question}}</a></div>
                <br />
                
            </div>
            <div class="card-footer text-muted">
              {{question.date_add}}
              {% if question.comments|length > 0 %}
                <a class="nav-item nav-link" href="{{ url_for('question_detail', question_id=question.id)}}">  {{question.comments|length}}  answer </a>
                {%else%}
                no answer yet
              {%endif%}
            </div>
        </div>
      <br /> 
      
      <br />
      {% endfor %}
    </div>
{% endblock %}