{% extends 'base.html' %}
{%block title%}GeorgiaFlow{%endblock%}
{% block content %}

    <div class="form-outline mb-4" style="margin-top:2.5%">
        <input type="search" class="form-control" id="datatable-search-input">
    </div>
    <h1 align="center">{% block header %}{% endblock %}</h1>
    <div id="posts">
    {% for post in posts %}
    <div class="card border-dark">
        <div class="card-header d-flex justify-content-between align-items-center">
            <a class="nav-item nav-link active" href="{{ url_for('auth.get_user', user_id=post.user.id) }}">{{post.user.fullname}}</a>
            <br />
            {% if current_user.id == post.author %}
            <div class="btn-group">
                <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-bs-toggle="dropdown"></button>
                <ul class="dropdown-menu">
                    <li>
                        <a href="{{ url_for('post.edit_post', post_id=post.id) }}" class="dropdown-item">Edit</a>
                    </li>
                    <li>
                        <a href="{{ url_for('post.delete_post', id=post.id) }}" class="dropdown-item">Delete</a>
                    </li>
                </ul>
            </div>
            {% endif %}
        </div>
        <div class="card-body">
            <a class="card-title nav-item nav-link text-center" href="{{ url_for('post.post_detail', post_id=post.id) }}"><h5 >{{post.heading}}</h5></a>
            <h6 class="card-subtitle mb-2 text-muted text-center">{{post.tags}}</h6>

            <div class="card-text ">{{post.text}}</div>
            <br />
            <div class="collapse" id="comments-{{post.id}}">
                <div class="card">
                <div class="card-body" id="comments-expanded-{{post.id}}">
                    {% for comment in post.comments %}
                    <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <a href="{{ url_for('auth.get_user', user_id=comment.user.id) }}">{{comment.user.fullname}}</a>
                        {{comment.text}}
                    </div>
                    <div>
                        <small class="text-muted"> {{comment.date_created}}</small>
                        {% if current_user.id == comment.author or current_user.id == post.author %}
                        <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-bs-toggle="dropdown"></button>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{{ url_for('post.delete_comment', comment_id=comment.id) }}" class="dropdown-item">Delete</a>
                            </li>
                        </ul>
                        </div>
                        {% endif %}
                    </div>
                    </div>
                    {% endfor %}
                </div>
                </div>
            </div>
            <p class="card-text">
                {% if post.comments|length > 0 %}
                <a data-bs-toggle="collapse" href="#comments-{{post.id}}" role="button">
                <cite title="Source" >View {{post.comments|length}} Comments</cite>
                </a>
                {% else %}
                <small class="text-muted">No Comments</small>
                {% endif %}
            </p>
            
        </div>
        <form class="input-group mb-3" method="POST" action="/create-comment/{{post.id}}" >
            <input type="text" id="text"  name="text" class="form-control" placeholder="Comment something!" />
            <button type="submit" class="btn btn-primary">Comment</button>
        </form>
        <div class="text-right">
            <span id="likes-count-{{post.id}}">{{ post.likes|length }}</span> 
            {% if current_user.id in post.likes|map(attribute="author")|list %}
            <i class="fas fa-thumbs-up" id="like-button-{{post.id}}" onclick="like('{{post.id}}')"></i>
            {% else %}
            <i class="far fa-thumbs-up" id="like-button-{{post.id}}" onclick="like('{{post.id}}')"></i>
            {% endif %}
        </div>
        
        <div class="card-footer text-muted">{{post.date_created}}</div>

    </div>
    <br/ > {% endfor %}
    </div>
{% endblock %} 
