{% extends "base.html" %}
    {% block title %}GeorgiaFlow-Login{% endblock %} {% block content %}
    <form method="POST">
        {{ form.hidden_tag() }} 
        <h3 align="center">Login</h3>
        <div class="form-group">
            <label for="email">Email Address</label>
            {{form.email(type="text", id="email",  class="form-control", placeholder="Enter Email")}} 
            <label for="password">Password</label>        
            {{form.password(type="password", id="password1", class="form-control", placeholder="Enter Password")}}
            <br />
            <div align="center">
                {{form.login(class="btn btn-success btn-block btn-lg gradient-custom-4 text-body")}}
            </div>
        </div>
    </form>
    {% endblock %}