{% extends 'base.html' %}
{%block title%}register{%endblock%}
{% block content %}
    <div>
        register HERE
    </div>
    
    <form method="POST">
        {{ form.hidden_tag() }} 
        {{ form.fullname.label }} {{ form.fullname() }}<br />
        {{ form.email.label }} {{ form.email() }}<br />
        {{ form.password.label }} {{ form.password() }}<br />
        {{ form.confirm_password.label }} {{ form.confirm_password() }}<br />
        {{ form.register()}}
    </form>
{% endblock %}