{% extends "base.html" %}
{% block title %}GeorgiaFlow-SignUp{% endblock %} 
{% block content %}

  <a href = "{{ url_for('google_auth.google_login') }}" class="nav justify-content-center" >
    <div class="google-btn">
        <div class="nav nav-pills nav-fill" style="margin-top:15%">
            <p class="nav-link active">
                Sign Up with google  <img class="google-icon" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"/>
            </p>
        </div>
    </div>
  </a>

  <form method="POST">
    {{ form.hidden_tag() }} 
   
    <div class="form-group">
      <label for="fullname">Fullname</label>
      {{form.fullname(type="text", id="fullname",  class="form-control",   placeholder="Enter Fullname")}}

      <label for="email">Email Address</label>
      {{form.email(type="text", id="email",  class="form-control", placeholder="Enter Email")}} 
          
      <label for="linkedin">linkedin</label>
      {{form.linkedin(type="url", id="linkedin", class="form-control",   placeholder="Enter linkedin url")}}

      <label for="github">GitHub</label>
      {{form.github(type="url", id="github", class="form-control",   placeholder="Enter github url")}}

      <label for="password1">Password</label>
      {{form.password(type="password", id="password1", class="form-control", placeholder="Enter Password",  pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}", title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters")}}
      <div id="message" class="alert alert-success">
        <h3>Password must contain the following:</h3>
        <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
        <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
        <p id="number" class="invalid">A <b>number</b></p>
        <p id="length" class="invalid">Minimum <b>8 characters</b></p>
      </div>

      <label for="password2">Password Again</label>
      {{form.confirm_password(type="password", id="password2", class="form-control", placeholder="Enter Password Again")}}
      <p id="message_confrim"></p>
      <br />
      <div align="center">
        {{form.register(class="btn btn-success btn-block btn-lg gradient-custom-4 text-body", onclick ="checkPassword()")}}
      </div>
    </div>
  </form>
{% endblock %}
